{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.2" :git/sha "0ffdb4c"}}
          :ns-default build}
  :repl {:extra-paths ["dev"]
         :main-opts  ["-m" "nrepl.cmdline"
                      "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                      "--interactive"]
         :extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                      nrepl/nrepl       {:mvn/version "1.0.0"}
                      refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                      meander/delta {:mvn/version "0.0.149"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                meander/delta {:mvn/version "0.0.149"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn kaocha.runner/exec-fn
   :exec-args {}}}}
